### Environment variables ###
.env
.env.local
.env.*.local

### Node.js ###
node_modules/
!.npmrc
npm-debug.log*
.yarn-integrity
.pnp.*
!.yarnrc.yml

### TypeScript ###
dist/
*.tsbuildinfo
tsconfig.tsbuildinfo

### IDE ###
.idea/
*.iws
*.iml
*.ipr
.vscode/

### Mac OS ###
.DS_Store

### Coverage ###
coverage/
.nyc_output/
