name: DNS Block&Redirect Configurer cron task

on:
  schedule:
    - cron: '30 1 * * *' # 04:30 MSK (01:30 UTC)
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    environment: DNS

    env:
      DNS: ${{ vars.DNS }}
      BLOCK: ${{ vars.BLOCK }}
      REDIRECT: ${{ vars.REDIRECT }}

      CLIENT_ID: ${{ secrets.CLIENT_ID }}
      AUTH_SECRET: ${{ secrets.AUTH_SECRET }}

      TZ: Europe/Moscow

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run application
        run: node src/app.js
